body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* .logout {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    background-color: #cccccc; } */

.header {
    text-align: center;
    margin-bottom: 20px;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    background-color: #fff;
    padding: 4em;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.save-button, .exit-button {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    flex: auto;
}

.exit-button {
    background-color: #dc3545; }

.exit-button:hover {
    background-color: #c82333;
}

.save-button {
    background-color: #4CAF50;
    
}

.save-button:hover {
    background-color: #45a049;
}
/* 
.back-button {
    text-align: center;
    margin-top: 20px;
} */

.logout {
    text-align: right; /* Căn phải để nút nằm phía bên phải */
    margin: 10px; /* Thêm khoảng cách bên ngoài */
}

.logout .btn {
    display: inline-block;
    padding: 10px 20px; /* Kích thước padding cho nút */
    background-color: #e74c3c; /* Màu nền đỏ */
    color: white; /* Màu chữ */
    text-decoration: none; /* Bỏ gạch chân */
    border-radius: 5px; /* Bo tròn các góc */
    font-weight: bold; /* Chữ đậm */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.logout .btn:hover {
    background-color: #c0392b; /* Màu nền khi di chuột */
}

.logout .btn:active {
    background-color: #a93226; /* Màu nền khi nhấn */
}
