<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chỉnh sửa Sách</title>
    <link rel="stylesheet" href="../static/edit.css" />
    
</head>
<body>

    <div class="container">
        <!-- Đăng xuất -->
        <div class="logout">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Đăng Xuất</a>
        </div>

        <!-- Tiêu đề -->
        <header class="header">
            <h1>Chỉnh sửa Sách</h1>
        </header>

        <!-- Form chỉnh sửa sách -->
        <form method="POST" action="{{ url_for('edit_book', book_id=book[0]) }}" class="form-container">
            <!-- Mã sách -->
            <div class="form-group">
                <label for="masach">Mã sách:</label>
                <input type="text" id="masach" name="masach" value="{{ book[0] }}" required readonly>
            </div>

            <!-- Tên sách -->
            <div class="form-group">
                <label for="tensach">Tên sách:</label>
                <input type="text" id="tensach" name="tensach" value="{{ book[1] }}" required>
            </div>

            <!-- Mô tả -->
            <div class="form-group">
                <label for="mota">Mô tả:</label>
                <textarea id="mota" name="mota" required>{{ book[2] }}</textarea>
            </div>

            <!-- Ngày xuất bản -->
            <div class="form-group">
                <label for="ngayxuatban">Ngày xuất bản:</label>
                <input type="date" id="ngayxuatban" name="ngayxuatban" value="{{ book[3] }}" required>
            </div>

            <!-- Nút lưu thay đổi và quay lại -->
            <div class="form-actions">
                <input type="submit" value="Lưu thay đổi" class="save-button">
                <input type="button" value="Quay trở lại" class="exit-button" onclick="window.location.href='{{ url_for('index') }}'">
            </div>
        </form>

    </div>

</body>
</html>
